
* {  /* Reset */
	margin: 0;
	padding: 0;
	font-family: Arial, "sans-serif";
}

h2, input[type=button], td:nth-child(1) {
	font-family: Georgia, "serif";
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 33px;
}

html {
	padding: 25px;
}

body {
	position: relative;
}

main {
	width: 800px;
	margin-bottom: 25px;
}

header {
	border: 9px solid #e2e2e2;
	border-bottom: none;
	background-color: #f0f0f0;
	height: 95px;
	padding-top: 42px;
	padding-left: 30px;
}

header h1 {
	font-size: 34px;
	font-weight: bold;
}

header p {
	color: #676767;
	font-size: 18px;
}

section {
	border: solid 9px #f0f0f0;
	border-top: none;
	border-bottom-width: 40px;
	min-height: 450px;
	background-color: #f0f0f0;
}

article, aside {
	display: inline-block;
	width: 332px;
	padding-top: 30px;
	background-color: white;
}

article {
	padding-left: 30px;
	padding-right: 37px;
	float: left;
	margin-right: 5px;
	height: 425px;
}

label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

input {
	height: 38px;
	width: 310px;
	border: solid 1px #dedede;
	border-radius: 5px;
	background-color: #ececec;
	margin-bottom: 30px;
	padding: 0px 8px;
}

input[type=button] {
	width: 93px;
	height: 44px;
	background-color: #434343;
	color: white;
	font-size: 18px;
}

#error {
	display: none;
	border: solid 1px red;
	background-color: rgba(255,0,4,0.20);border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px 10px;
	position: relative;
	top: -28px;
	margin-right: 3px;
}

#error p {
	color: red;
}

aside {
	padding: 30px 31px 25px 15px;
	min-height: 400px;
}

table {
	border: solid 5px #dedede;
	border-radius: 5px;
	border-collapse: collapse;
	width: 346px;
	position: relative;
}

tr {
	height: 0px;
	position: relative;
	width: 95%;
}

td {
	border: none;
	padding: 0px 10px;
}

td:nth-child(1) {
	font-size: 14px;
	padding-right: 4px;
	white-space: nowrap;
}

td:nth-child(2) {
	font-size: 12px;
	color: #666666;
	padding-left: 0px;
	text-align: left
}

td:nth-child(3) {
	font-weight: bold;
	font-size: 12px;
	width: 100%;
	text-align: right;
	padding-right: 15px;
}

tr:nth-child(even) {
	background-color: #ececec;
	
}
